header.row {
  margin-top: 25px;
}

div.status-box {
  height: 12em;
  margin: 5%;
  margin-left: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.available {
  background-color: #aaf9aa;
}

div.unavailable {
  background-color: #f9aaaa;
}

h4 {margin: 0;}

footer.footer-row {
  margin-top: 20px;
}

a.register-button {
  margin-left: 20px;
}

input:invalid {
  border-color: #f9aaaa;
}

.err-msg {
  display: flex;
  align-content: center;
  margin-bottom: 20px;
  padding: 8px 0 8px 12px;
  border-radius: 4px;
  background-color: #f9aaaa;
}
